name: lint and test

on:
  pull_request:
    paths:
      - '.github/workflows/check.yml'
      - 'mosec/**'
      - 'src/**'
      - 'tests/**'
      - 'examples/**'
      - 'pyproject.toml'
      - 'Cargo.lock'
      - 'Cargo.toml'
  push:
    branches:
      - main
    paths:
      - '.github/workflows/check.yml'
      - 'mosec/**'
      - 'src/**'
      - 'tests/**'
      - 'examples/**'
      - 'pyproject.toml'
      - 'Cargo.lock'
      - 'Cargo.toml'
  merge_group:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install dependencies
        run: make install
      - name: Lint
        run: make lint semantic_lint

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14", "3.14t"]
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9
      - name: Install components
        run: make install
      - name: Test unit
        run: make test_unit
      - name: Test
        run: make test
      - name: Test shm in Linux
        # ignore the shm test for Python 3.12 since pyarrow doesn't have py3.12 wheel with version < 12
        if: ${{ startsWith(matrix.os, 'ubuntu') && !startsWith(matrix.python-version, '3.12') && !startsWith(matrix.python-version, '3.13') }} && !startsWith(matrix.python-version, '3.14')
        run: |
          docker run --rm -d --name redis -p 6379:6379 redis
          make test_shm
          docker stop redis
