name: Links

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/links.yml'
      - '**.md'
      - '**.html'
  pull_request:
    paths:
      - '.github/workflows/links.yml'
      - '**.md'
      - '**.html'
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: --verbose --no-progress --format detailed .
